{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
<% for (var css in htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="{{ url_for('static', filename='<%= htmlWebpackPlugin.files.css[css] %>') }}">
<% } %>
{% endblock %}
{% block body %}
  <div class="wrapper">
    <ul class="steps has-gaps is-centered has-content-centered is-horizontal">
      <div class="status-bar">
        <div class="current-status"></div>
      </div>
      <li class="steps-segment is-active" data-slide="0">
        <span class="steps-marker">
          <span class="icon">
            <i class="mdi mdi-account"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Name Information</p>
        </div>
      </li>
      <li class="steps-segment" data-slide="1">
        <span class="steps-marker is-hollow">
          <span class="icon">
            <i class="mdi mdi-key"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">User Information</p>
        </div>
      </li>
      <li class="steps-segment" data-slide="2">
        <span class="steps-marker is-hollow">
          <span class="icon">
            <i class="mdi mdi-camera"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Vendor Information</p>
        </div>
      </li>
      <li class="steps-segment" data-slide="3">
        <span class="steps-marker is-hollow">
          <span class="icon">
            <i class="mdi mdi-map-marker"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Location + Finish</p>
        </div>
      </li>
    </ul>
    <div class="signup-container" data-usertype="{{ type }}">
      <div class="form-container-signup">
        <h1 class="title is-2 is-marginless">Sign up</h1>
        <!-- <div class="signup-tabs tabs is-toggle">
          <ul>
            <li class="{% if type == 'user' %}is-active{% endif %}">
              <a class="toggle-form">Organizer</a>
            </li>
            <li class="{% if type == 'vendor' %}is-active{% endif %}">
              <a class="toggle-form show-vendor">Vendor</a>
            </li>
          </ul>
        </div> -->
        <hr>
        <!-- <div class="organizer-signup" {% if type == 'vendor' %}style="display: none;"{% endif %}>
          <form class="input-container" method='POST'>
            <fieldset data-validated="false">
              {% include 'components/user_signup/register-username-inputs.html' %}
              <button name="organizer_signup" class="button is-dark is-medium is-wide" 
                type='submit'>Sign up</button>
            </fieldset>
          </form>
        </div> -->
        <!-- Sign up for vendor users -->
        <div class="vendor-signup" {% if type == 'vendor' %}style="display: block;"{% endif %}>
          <form class="input-container" method='POST'>
            <!-- Grabs the inputs from components/register_inputs.html -->
            <fieldset data-validated="false">
              {% include 'components/vendor_signup/register-name-inputs.html' %}
            </fieldset>
            {% if not getrequest %}
            <fieldset>
              {% include 'components/vendor_signup/register-email-inputs.html' %}
            </fieldset>
            <fieldset>
              {% include 'components/vendor_signup/register-vendor-inputs.html' %}
            </fieldset>
            <fieldset>
              {% include 'components/vendor_signup/register-location-inputs.html' %}
              <button name="vendor_signup" class="button is-dark is-medium is-wide" 
                type="submit">Sign up</button>
            </fieldset>
            {% endif %}
            <!-- <label class="checkbox">
              <input class="checkbox" name="is_vendor" type="checkbox" required>
              I wish to sign up as a Vendor
            </label>
            <button name="vendor_signup" class="button is-dark is-medium is-wide" 
              type='submit'>Sign up</button> -->
          </form>
        </div>
        <div class="signup-navigation-container" data-hidden="true">
        </div>
      </div>
      <div class="footer level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <a class="has-text-grey">Login</a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a class="has-text-grey">Help</a>
          </div>
          <div class="level-item">
            <a class="has-text-grey">Terms</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script type="text/javascript" src="{{ url_for('static', filename='<%= htmlWebpackPlugin.files.chunks[chunk].entry %>') }}"></script>
<% } %>
{% endblock %}
