{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
<% for (var css in htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="{{ url_for('static', filename='<%= htmlWebpackPlugin.files.css[css] %>') }}">
<% } %>
{% endblock %}
{% block body %}
  <div class="wrapper">
    <div class="signup-container" data-usertype="{{ type }}">
      <div class="form-container-signup">
        <h1 class="title is-2 is-marginless">Sign up</h1>
        <div class="signup-tabs tabs is-toggle">
          <ul>
            <li class="{% if type == 'user' %}is-active{% endif %}">
              <a class="toggle-form">Organizer</a>
            </li>
            <li class="{% if type == 'vendor' %}is-active{% endif %}">
              <a class="toggle-form show-vendor">Vendor</a>
            </li>
          </ul>
        </div>
        <hr>
        <div class="organizer-signup" {% if type == 'vendor' %}style="display: none;"{% endif %}>
          <form method='POST'>
            <div class="input-container">
              <!-- Grabs the inputs from components/register_inputs.html -->
              <div>
                {% include 'components/user_signup/register-username-inputs.html' %}
                <button name="organizer_signup" class="button is-dark is-medium is-wide" type='submit'>Sign up</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Sign up for vendor users -->
        <div class="vendor-signup" {% if type == 'vendor' %}style="display: block;"{% endif %}>
          <form class="input-container" method='POST'>
            <!-- Grabs the inputs from components/register_inputs.html -->
            <div>
              {% include 'components/vendor_signup/register-name-inputs.html' %}
            </div>
            <div>
              {% include 'components/vendor_signup/register-email-inputs.html' %}
            </div>
            <div>
              {% include 'components/vendor_signup/register-vendor-inputs.html' %}
            </div>
            <div>
              {% include 'components/vendor_signup/register-location-inputs.html' %}
              <button name="vendor_signup" class="button is-dark is-medium is-wide" 
              type='submit'>Sign up</button>
            </div>
            <!-- <label class="checkbox">
              <input class="checkbox" name="is_vendor" type="checkbox" required>
              I wish to sign up as a Vendor
            </label>
            <button name="vendor_signup" class="button is-dark is-medium is-wide" 
              type='submit'>Sign up</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script type="text/javascript" src="{{ url_for('static', filename='<%= htmlWebpackPlugin.files.chunks[chunk].entry %>') }}"></script>
<% } %>
{% endblock %}
