/* --- SIGNUP FORM --- */

div.wrapper h1 {
  display: inline-block;
  margin-bottom: 0;
}

div.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 52px);
}

@media screen and (min-width: 601px) {
  div.wrapper::before,
  div.wrapper::after {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
    width: 100%;
  }

  div.wrapper::before {
    min-height: 30px;
  }

  div.wrapper::after {
    min-height: 64px;
  }

  .signup-container {
    margin: auto;
    min-height: 500px;
    width: 450px;
  }

  .form-container-signup {
    height: 500px;
    padding: 2rem;
    border-left: 4px solid #e91e63;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .signup-navigation-container {
    padding: 2rem;
    display: none;
    position: absolute;
  }

  .footer.level {
    font-size: 12px;
    padding: 0.75rem;
  }

  .slick-prev {
    left: 2rem;
  }
  
  .slick-next,
  .slick-signup {
    right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  div.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  div.wrapper::before,
  div.wrapper::after {
    display: none;
  }

  .signup-container {
    width: 100%;
    height: 100%;
  }

  .form-container-signup {
    border: none;
    box-shadow: none;
    padding: 0.5rem;
    height: 100%;
  }

  .signup-navigation-container {
    position: relative;
    padding: 0.5rem;
  }

  .slick-prev {
    left: 0.5rem;
  }
  
  .slick-next,
  .slick-signup {
    right: 0.5rem;
  }
}

ul.steps {
  position: relative;
}

.status-bar {
  position: absolute;
  width: 75%;
  margin: 0 12.5%;
  top: 13px;
  z-index: 20;
}

.status-bar > .current-status {
  height: 6px;
  width: 0;
  background-color: #e91e63;
  transition: width 500ms cubic-bezier(0.5, 0.08, 0, 1);
}

.steps .steps-marker {
  z-index: 23;
  transition: 400ms ease-in-out;
  transition-property: border, background-color, color;
}

.steps-segment::after {
  background-color: #dbdbdb;
}

.signup-navigation-container {
  left: 0;
  bottom: 0;
  width: 100%;
}

.form-container-signup {
  position: relative;
  background-color: white;
}

.input-container fieldset {
  overflow: hidden;
  border: none;
  padding: .25rem .75rem;
  position: relative;
}

.input-container fieldset:focus {
  outline: none;
}

.input-container button[type="submit"] {
  position: absolute;
  width: calc(100% - 1.5rem);
  bottom: 0;
}

fieldset .field:not(:last-child),
fieldset .field:last-child {
  margin-bottom: 1.25rem;
}

div.field > label.label {
  font-weight: 500;
  margin: 0;
}

div.field p.help {
  margin: 0;
}

div.field p.help {
  margin-bottom: 0.25rem;
}

input[type=range].slider:not([orient=vertical]).has-output {
  width: 100%;
}

input[type=range].slider#rateSlider::before,
input[type=range].slider#rateSlider::after {
  position: absolute;
  top: 2rem;
}

input[type=range].slider#rateSlider::before {
  content: "$";
  left: 0.25rem;
}

input[type=range].slider#rateSlider::after {
  content: "$$$";
  right: 0.25rem;
}

input[type=range].slider:not([orient=vertical]).has-output+output {
  display: block;
  margin: auto;
  top: 0;
  width: min-content;
  background-color: white;
  font-size: 13px;
  line-height: 13px;
  color: #2196F3;
  border: 1px solid #2196F3;
}

.signup-tabs {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0.25rem;
}

.toggle-form {
  font-size: 0.8rem;
  color: #9e9e9e;
  cursor: pointer;
  text-decoration: none;
}

.tabs:not(:last-child) {
  margin-bottom: 0;
}

.tabs {
  margin-left: 1.3rem;
  position: relative;
  bottom: 6px;
}

.tabs a {
  padding: 0.4em 0.8em;
}

.tabs li.is-active a {
  pointer-events: none;
}

.zip-input {
  width: 50%;
}

.submit-button:focus {
  outline: none;
}

.checkbox {
  margin: auto;
}

.error-msgs-wrapper {
  position: absolute;
  overflow: hidden;
}

#create-msg {
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
}

#create-account:link, #create-account:visited {
  font-weight: 500;
  color: #03a9f4;
  text-decoration: none;
}

#create-account:hover, #create-account:visited:hover {
  color: #0089c7;
}

/* Slick Styles */

.slick-arrow {
  visibility: visible;
  position: absolute;
  background-color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  bottom: 2rem;
  opacity: 1;
  transition: opacity 180ms ease-in-out,
              visibility 180ms ease-in-out;
}

.slick-arrow.slick-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.slick-prev:focus,
.slick-next:focus,
.slick-signup:focus {
  outline: none;
}
