/* --- SIGNUP FORM --- */

div.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  min-height: calc(100vh - 52px);
}

@media screen and (min-width: 601px) {
  div.wrapper::before,
  div.wrapper::after {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    content: '';
    display: block;
    height: 24px;
    width: 100%;
  }

  div.wrapper::before {
    min-height: 30px;
  }

  div.wrapper::after {
    min-height: 64px;
  }

  .signup-container {
    margin: 0 auto;
    min-height: 500px;
    width: 450px;
    border-radius: 4px;
  }

  .form-container-signup {
    height: 500px;
    padding: 2rem;
    border-left: 4px solid #e91e63;
  }

  .signup-navigation-container {
    display: none;
    position: absolute;
  }

  ul.steps {
    overflow: hidden;
  }

  .steps-segment {
    display: list-item;
  }

  .status-bar {
    width: 75%;
    margin: 0 12.5%;
    top: 13px;
  }

  .status-bar > .current-status {
    height: 6px;
  }

  .footer.level {
    font-size: 12px;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  div.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  div.wrapper::before,
  div.wrapper::after {
    display: none;
  }

  .signup-container {
    width: 100%;
    height: 100%;
  }

  .form-container-signup {
    border: none;
    box-shadow: none;
    padding: 1rem 0.5rem 0.5rem;
    height: 100%;
  }

  .signup-navigation-container {
    position: relative;
  }

  ul.steps {
    overflow: visible;
    margin: 0 !important;
  }

  .steps-segment {
    display: none;
  }

  .status-bar > .current-status {
    height: 3px;
  }

  .status-bar {
    width: 100%;
    margin: 0;
    top: 0;
  }

  .slick-signup {
    right: 0.5rem;
  }
}

.signup-container {
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 
              0 1px 2px rgba(0,0,0,.2)
}

ul.steps {
  position: relative;
}

.status-bar {
  position: absolute;
  z-index: 20;
}

.status-bar > .current-status {
  width: 0;
  background-color: #e91e63;
  transition: width 500ms cubic-bezier(0.5, 0.08, 0, 1);
}

.steps .steps-marker {
  z-index: 23;
  transition: 400ms ease-in-out;
  transition-property: border, background-color, color;
}

.steps-segment::after {
  background-color: #dbdbdb;
}

.signup-navigation-container {
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.form-overlay {
  display: none;
  background-color: white;
  z-index: 5;
}

.form-container-signup {
  position: relative;
  background-color: white;
}

.form-signup-content {
  height: 100%;
  transform: translateY(0px);
  opacity: 1;
  transition: 275ms cubic-bezier(0.5, 0.08, 0, 1);
  transition-property: transform, opacity;
}

.form-signup-content.is-sliding {
  transform: translateY(100px);
  opacity: 0;
}

.confirmation-message {
  padding-top: 20%;
}

.svg-container {
  height: 130px;
}

.svg-container > svg {
  transform: scale(0);
  transition: transform 375ms cubic-bezier(0.5, 0.08, 0, 1);
}

.svg-container > svg.is-shown {
  transform: scale(1);
}

.input-container fieldset {
  overflow: hidden;
  border: none;
  padding: .25rem .75rem;
  position: relative;
}

.input-container fieldset:focus {
  outline: none;
}

.input-container button[type="submit"] {
  position: absolute;
  width: calc(100% - 1.5rem);
  bottom: 0;
}

fieldset .field:not(:last-child) {
  margin-bottom: 1rem;
}

div.field > label.label {
  font-weight: 500;
  margin: 0;
}

div.field p.help {
  margin: 0;
}

div.field p.help {
  margin-bottom: 0.25rem;
}

input[type=range].slider:not([orient=vertical]).has-output {
  width: 100%;
}

input[type=range].slider#rateSlider::before,
input[type=range].slider#rateSlider::after {
  position: absolute;
  top: 2rem;
}

input[type=range].slider#rateSlider::before {
  content: "$";
  left: 0.25rem;
}

input[type=range].slider#rateSlider::after {
  content: "$$$";
  right: 0.25rem;
}

input[type=range].slider:not([orient=vertical]).has-output+output {
  display: block;
  margin: auto;
  top: 0;
  width: 6rem;
  background-color: white;
  font-size: 13px;
  line-height: 13px;
  color: #2196F3;
  border: 1px solid #2196F3;
}

.zip-input {
  width: 50%;
}

.error-msgs-wrapper {
  position: relative;
  overflow: hidden;
}

/* Slick Styles */

.slick-arrow {
  visibility: visible;
  position: relative;
  opacity: 1;
  transition: opacity 180ms ease-in-out;
}

.slick-arrow.slick-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.slick-prev:focus,
.slick-next:focus,
.slick-signup:focus {
  outline: none;
}

.slick-prev {
  float: left;
}

.slick-next {
  float: right;
}

.slick-signup {
  position: absolute;
  text-transform: uppercase;
  right: 0;
  transition: opacity 130ms ease-in-out;
}
