@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:100,400,500,700");

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

footer.desktop-footer {
  background-color: hsl(0, 0%, 21%);
}

.container.is-fluid.is-marginless.brand-color {
  min-height: 100%;
}

/* Navbar Styles */

a.navbar-item.navbar-brand-logo {
  color: #4a4a4a;
  font-size: 1.5em;
  font-family: 'Abril Fatface', serif !important;
}

a.navbar-item:not(.navbar-brand-logo),
a.navbar-link:not(.navbar-brand-logo) {
  font-size: 14px;
  font-weight: 500;
  color: #7a7a7a;
}

.navbar-dropdown a.navbar-item,
.navbar-dropdown a.navbar-item {
  font-weight: 400;
}

a.navbar-item.is-active, 
a.navbar-item:hover, 
a.navbar-link.is-active, 
a.navbar-link:hover {
  color: #222;
}

a.navbar-item.navbar-brand-logo:hover {
  color: #4a4a4a;
}

a.navbar-item>.icon:not(:last-child) {
  margin-left: -.25rem;
  margin-right: .25rem;
}

/* General Adjustments */

.button {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 500;
  font-size: 14px;
}

.button.is-wide {
  width: 100%;
}

.brand-color {
  background-color: #f5f5f5;
}

.flash-msg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  z-index: 10;
}
