@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Rubik");

body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
}

.navbar-brand {
  font-family: 'Abril Fatface', serif;
  font-size: 1.5em;
}

.brand-color {
  background-color: #fbf4f9;
}

.flash-msg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  z-index: 10;
}
