{% extends 'layout.html' %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.1e78d857164e16f25c9783224107c212.css') }}">

{% endblock %}
{% block body %}
  <div class="wrapper">
    <div class="signup-container">
      <div class="form-container-signup">
        <h1 class="title is-2 is-marginless">Login</h1>
        <hr>
        <form action="{{ url_for('login', next=request.args.get('next')) }}" method='POST'>
          {% include 'components/login/register-login-inputs.html' %}
          <button class="button is-dark is-medium is-wide" type='submit'>Login</button>
        </form>
      </div>
      <p id="create-msg">Don't have an account? <a id="create-account"
        href="/signup">Create one!</a></p>
    </div>
  </div>
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='login.ee3baa12199403ffba3c.js') }}"></script>

{% endblock %}
