{% extends 'layout.html' %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.6606281a4982ce21da6acb10fb8b63a4.css') }}">

{% endblock %}
{% block body %}
  <div class="wrapper">
    <div class="signup-container">
      <div class="form-container-signup">
        <h1 class="title is-2 is-marginless">Login</h1>
        <hr>
        <form action="{{ url_for('login', next=request.args.get('next')) }}" method='POST'>
          {% include 'components/register_login_inputs.html' %}
          <input class="submit-button" type='submit' value="Login">
        </form>
      </div>
      <p id="create-msg">Don't have an account? <a id="create-account"
        href="/signup">Create one!</a></p>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  $("#emailField").select();
</script>
{% endblock %}
